/.metadata/

/*/Debug/
/*/Release/
/*/Flash_Debug/
/*/Flash_Release/
/*/TCM_Debug/
/*/TCM_Release/
/*/ra_gen/
/*/.settings/
/*/.cache/

/*/settings/
/*/Flash/
/*/TCM/

/*/*.jlink
/*/*.launch
/*/*.log

/*/*.secure_xml
